<h2>Create a Bug Report</h2>

<form (ngSubmit)="submitBug()">
    <label>
        Title:
        <input type="text" [(ngModel)]="newBug.title" name="title" required/>
    </label>
    <br />

    <label>
        Description:
        <textarea [(ngModel)]="newBug.description" name="description" required></textarea>
    </label>
    <br />

    <label>
        Assigned To:
        <input type="text" [(ngModel)]="newBug.assignedTo" name="assignedTo"/>
    </label>
    <br/>

    <label>
        Status:
        <select [(ngModel)]="newBug.status" name="status">
            <option value="Open">Open</option>
            <option value="In Progress">In Progress</option>
            <option value="Closed">Closed</option>
        </select>
    </label>
    <br/>

    <button type = "submit">Submit</button>
</form>